/tirangulos_queral.py
.DS_Store
videojuegos/t11.explodeGloves_v1.py
.gitignore
videojuegos/2048-pygame/*
videojuegos/video-juegos.txt
videojuegos/books/RetroGaming/*
videojuegos/books/Code_the_classics/*
videojuegos/pong/bin/*
videojuegos/pong/include/*
videojuegos/pong/lib/*
videojuegos/pong/pyvenv.cfg
app/Filex_v1.3.zip
videojuegos/pong/LuciaPong.py
videojuegos/PONG-LUCIA/*
videojuegos/pong/__pycache__/*
videojuegos/pong_1.5.zip
videojuegos/removeBg/images/*
videojuegos/ejemplo_sprites/ejemplo_sprites.py
videojuegos/pong/share/man/man1/isympy.1
